name: Server Configurations

on: [workflow_call, push]


jobs:
    server_connection:
        name: Setup Connection To server
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v2

            - name: Setup SSH Private Keys
              run: |
                echo "${{ secrets.SSH_PRIVATE_KEY }}" > PRIVATE_KEY.pem
                chmod 600 PRIVATE_KEY.pem

            - name: Create SSH Directory
              run: |
                mkdir -p ~/.ssh



