name: Setup Github Repository

on:
    workflow_run: 
        workflows: ["Server Configurations"]
        branches: [master]
        types:
            - completed

jobs:
    server_conn:
        uses: ./.github/workflows/server_config.yml

    configure_host:
        name: Configure Known Hosts
        runs-on: ubuntu:latest
        needs: [server_conn]
        steps:
            - name: Configure Known Hosts
              run: |
                ssh-keyscan ${{ secrets.SERVER_IP}} >> ~/.ssh/known_hosts

    setup_github_repo:
        name: Setup Github Repository
        runs-on: ubuntu-latest
        needs: [server_conn, configure_host]
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v2

            - name: Create project folder on server
              run: |
                ssh -i PRIVATE_KEY.pem ubuntu@${{ secrets.SERVER_IP}} "mkdir -p ~/todo-app"

            - name: Initalize repository
              run: |
                ssh -i PRIVATE_KEY.pem ubuntu@${{ secrets.SERVER_IP}} "cd ~/todo-app && git init"

            - name: Add Remote Repository
              run: |
                ssh -i PRIVATE_KEY.pem ubuntu@${{ secrets.SERVER_IP}} "cd ~/todo-app && git remote add origin ${{ secrets.REPO_GITHUB}}"

            - name: Pull from repository
              run: |
                ssh -i PRIVATE_KEY.pem ubuntu@${{ secrets.SERVER_IP}} " cd ~/todo-app && git pull origin master"

            